.add-task-container {
    display: flex;
    align-items: center;

    div:first-child {
        width: 90%;
    }

    .custom-input-container {
        max-width: 75%;
    }

    .custom-button-container {
        margin-left: 16px;
    }
}
